{% extends 'base.html' %}

{% block content %}


<h1>Itt van a seregem:</h1>
  <table  class="styled-table">
    <thead> 
        <tr>
            <th>Név</th>
            <th>Magasság</th>
            <th>Súly</th>
            <th>Házas?</th>
            <th>Hajszín</th>
        </tr>
    </thead>
    <tbody>
        {% for i in people %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.height}}</td>
            <td>{{i.weight}}</td>
        {% if i.isMarried == True %}
            <td>{{i.isMarried}}</td>
        {% else %}
            <td>Nemaz :(</td>
        {% endif %}
            <td>{{i.haircolor}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}