body {
    background-color: lightblue;
  }

  h2 {
    text-align: center;
  }

div{

    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 5px 5px rgba(0,0,0,.1);
    transition: all .4s ease;
  
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    top:-450px;
}

.styled-table thead tr {
  background-color: #34a73a;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ca5714;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #d14c23;
}

.backToHome{
  width: 140px;
  height: 60px;
  background-color: #e2d3a2;
  position: relative;
  left:1%;

}

.clubfilters{
  background-color: rgb(109, 235, 197);
  text-align: left;
  width: 55%;
  height: 150px;
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 5px 5px rgba(0,0,0,.1);
  transition: all .4s ease;
  padding-left: 10px;
}

.searchInputfields {
  background-color: rgb(109, 235, 197);
  text-align: left;
  width: 60%;
  height: 280px;
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 5px 5px rgba(0,0,0,.1);
  transition: all .4s ease;
  padding-left: 10px;
}

.visibilityCheckboxes{
  background-color: rgb(179, 231, 110);
  text-align: left;
  width: 30%;
  width: 320px;
  position: relative;
  left: 600px;
  top: -280px;
}

.OrderByFields{
  background-color: rgb(222, 186, 247);
  text-align: left;
  width: 23%;
  position: relative;
  left:1000px;
  top: -450px;
}

.scoreVisibilityCheckboxes{
  background-color: rgb(231, 229, 110);
  text-align: left;
  width: 23%;
  position: relative;
  left: 1000px;
  top: -445px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[name=orderby1],input[name=orderby2],input[name=orderby3],input[name=orderby4],input[name=orderby5]{
  padding: 3px 5px;
  margin: 5px 0;
}

tr.header th {
  background-color: #34a73a;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}